
#boardBackground{
    display:grid;
    background-color: darkcyan;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows:repeat(3,1fr);
    height:500px;
    width:500px;
    gap:5px;
    margin:50px auto;

}
.boardCell{
    background-color: white;
}
.boardCell:hover{
    background-color: lightgrey;
}
.unfilled{
    cursor:grab;
}
.filled{
    pointer-events: none;
}