
#boardBackground{
    display:grid;
    background-color: darkcyan;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows:repeat(3,1fr);
    height:500px;
    width:500px;
    gap:5px;
    margin:50px auto;

}
.boardCell{
    display:grid;
    background-color: white;
    justify-items:center;
    align-items: center;
    font-size:100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.boardCell:hover{
    background-color: lightgrey;
}
.unfilled{
    cursor:grab;
}
.filled{
    pointer-events: none;
}
#endgame{
    z-index: 2;
    margin:100px, auto;
}
#cover{
    height:100%;
    width:100%;
    background: darkslategrey;
    opacity:50%;
    position:absolute;
    top:0;
    z-index:1;
}
.hidden{
    display:none;
}